
<div class="row">
    <div class="col-md-4 offset-4">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Articles by Client</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div class="row">

              <div class="col-md-12 px-3">

                <div class="form-group">
                  <label>Client</label>

                  <select class="form-control" required>
                    <option *ngFor="let item of listClients"  [value]="item.id">
                      {{item.value}}
                    </option>
                  </select>

                  <!-- <label>Client</label>
                  <input type="text" class="form-control" placeholder="Client" formControlName="client"> -->
                  <div *ngIf="client?.invalid && (client?.dirty || client?.touched)" class="alert">

                    <div *ngIf="client?.errors?.['required']">
                      Client is required.
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-12 px-3">
                <div class="form-group">
                  <label>Article</label>
                  <input type="text" class="form-control" placeholder="Article" formControlName="article">

                  <div *ngIf="article?.invalid && (article?.dirty || article?.touched)" class="alert">

                    <div *ngIf="article?.errors?.['required']">
                      Article is required.
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Save Client</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <table mat-table #tabla [dataSource]="dataSource" class="table table-striped table-dark " matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by client">
            Client.
          </th>
          <td mat-cell *matCellDef="let element"> {{element.client.name}} </td>
        </ng-container>



        <ng-container matColumnDef="article">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by article">
            Article.
          </th>
          <td mat-cell *matCellDef="let element"> {{element.article.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let element">
             <button mat-button class="btn btn-info" (click)="editItem(element)" >Edit</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="options"></tr>
        <tr mat-row *matRowDef="let row; columns: options;"></tr>
      </table>
    </div>


  </div>