<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Alta de cliente</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="row">

            <div class="col-md-12 px-3">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Username" [formControl]="name">
              </div>
            </div>

            <div class="col-md-12 px-3">
              <div class="form-group">
                <label>Apellidos</label>
                <input type="text" class="form-control" placeholder="Last Name" [formControl]="lastName">
              </div>
            </div>

            <div class="col-md-12  px-3">
              <div class="form-group">
                <label>Direccion</label>
                <input type="text" class="form-control" placeholder="Address" [formControl]="address">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Alta Cliente</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>